/* region ------ colors ------*/
/* #endregion ------ colors ------- */
/* region ------ typography ------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.3em 0;
  padding: 0 0 0.3em 0;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

h1 {
  margin: 0 auto;
  font-size: 1.6em;
  text-transform: uppercase;
  padding: 0;
  max-width: 1200px;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}

h2 {
  /*font-size: 30px;*/
  font-size: 2em;
  font-weight: 300;
}

h3 {
  /*font-size: 25px;*/
  font-size: 1.3em;
  font-weight: 300;
  /*font-family: 'Open Sans', sans-serif;*/
  margin-bottom: 0.5em;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  /*font-size: 20px;*/
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  /*border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h5 {
  /*font-size: 17px;*/
  font-size: 1.2em;
  font-weight: 300;
  /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h6 {
  /*font-size: 15px;*/
  font-size: 1.1em;
  font-weight: 300;
  /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

/* #endregion ------ typography ------- */
/* region ------ breakpoints ------*/
.responsive .mobile {
  background-color: lightcoral;
}

@media (max-width: 424px) {
  .responsive .mobile {
    display: block;
  }
}

@media (min-width: 425px) {
  .responsive .mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .responsive .mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .mobile {
    display: none;
  }
}

.responsive .tablet {
  background-color: lightgreen;
}

@media (max-width: 424px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .tablet {
    display: block;
  }
}

@media (min-width: 1024px) {
  .responsive .tablet {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .tablet {
    display: none;
  }
}

.responsive .laptop {
  background-color: lightcyan;
}

@media (max-width: 424px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .laptop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .laptop {
    display: block;
  }
}

@media (min-width: 1400px) {
  .responsive .laptop {
    display: none;
  }
}

.responsive .desktop {
  background-color: lightblue;
}

@media (max-width: 424px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 425px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 1024px) {
  .responsive .desktop {
    display: none;
  }
}

@media (min-width: 1400px) {
  .responsive .desktop {
    display: block;
  }
}

/* #endregion ------ breakpoints ------- */
/* region ------ Base ------*/
html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #cccccc;
  color: #000000;
  font-size: 16px;
  line-height: 1.9em;
  text-align: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body .content {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
  float: none;
}

img {
  width: 100%;
}

button, .button {
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  max-width: 330px;
  margin: 10px 0 5px 0;
  font-weight: 400;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000000;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button:hover, .button:hover {
  background-color: #a07f4a;
  color: #ffffff;
}

.divider_line {
  margin: 30px 0 30px 0;
  width: 40px;
  height: 1px;
  background-color: #ffffff;
}

/* #endregion ------ Base ------- */
/* region ------ topnav ------*/
.top_nav {
  position: relative;
  background-color: #00000078;
  margin-bottom: -50px;
}

.top_nav .logo {
  float: left;
  width: 33.3%;
}

.top_nav .logo .logo_img {
  max-width: 150px;
  margin-left: 10px;
}

.top_nav .brand {
  float: left;
  width: 33.3%;
}

.top_nav .brand span {
  text-transform: uppercase;
  font-size: 1.8em;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
}

.top_nav .popout {
  float: left;
  width: 33.3%;
}

.top_nav .popout .burger_menu a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.top_nav .popout .burger_menu a:hover {
  color: #a07f4a;
}

.top_nav .popout .burger_menu #menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: -10px;
  float: right;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.top_nav .popout .burger_menu #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.top_nav .popout .burger_menu #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #bbbbb9;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.top_nav .popout .burger_menu #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.top_nav .popout .burger_menu #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.top_nav .popout .burger_menu #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

.top_nav .popout .burger_menu #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.top_nav .popout .burger_menu #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.top_nav .popout .burger_menu #menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -350px;
  padding: 50px;
  padding-top: 125px;
  background: #cccccc;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(120%, 0);
          transform: translate(120%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.top_nav .popout .burger_menu #menu li {
  padding: 10px 0;
  font-size: 22px;
}

.top_nav .popout .burger_menu #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

/* #endregion ------ topnav ------- */
/* region ------ introduction ------*/
.introduction {
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-bottom: 10px;
  color: #ffffff;
}

.introduction .intro_wrap {
  max-width: 1400px;
  padding: 10px;
  margin: 0 auto;
}

.introduction .intro_wrap .intro_txt_container {
  padding-top: 400px;
  text-align: left;
}

.introduction .intro_wrap .intro_txt_container p {
  text-transform: uppercase;
  font-size: 0.8em;
}

.introduction .intro_wrap .intro_txt_container h1 {
  text-align: left;
  margin: 0;
  font-size: 3em;
  text-transform: capitalize;
}

.introduction .intro_wrap .intro_txt_container h3 {
  text-transform: capitalize;
  font-size: 1em;
}

.introduction .intro_wrap .author_container {
  max-width: 400px;
  margin-top: 100px;
}

.introduction .intro_wrap .author_container .face_img {
  float: left;
  width: 10%;
  padding-left: 10px;
  border-left: 1px solid #ffffff;
}

.introduction .intro_wrap .author_container .details {
  width: 60%;
  float: left;
  margin-left: 10px;
}

.introduction .intro_wrap .author_container .details p {
  font-size: 0.8em;
  text-align: left;
  margin: 0;
  line-height: 25px;
}

.credit_container {
  border: 1px solid #cccccc;
  max-width: 1400px;
  margin: 0 auto;
}

.credit_container p {
  text-align: right;
  margin-right: 10px;
  font-size: 0.5em;
}

/* #endregion ------ introduction ------- */
/* region ------ product article ------*/
.product_article {
  padding: 10px;
}

.product_article .article_wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .product_article .article_wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}

.product_article .article_wrap .article_col {
  margin-bottom: 5px;
  text-align: left;
}

.product_article .article_wrap .article_col .full_article {
  font-family: 'Playfair Display', serif;
}

.product_article .article_wrap .article_col .sales_txt,
.product_article .article_wrap .article_col .social_card,
.product_article .article_wrap .article_col .quote_txt {
  margin-bottom: 10px;
}

.product_article .article_wrap .article_col .sales_txt {
  margin-bottom: 50px;
  margin-top: 30px;
}

.product_article .article_wrap .article_col .sales_txt .review_btn button, .product_article .article_wrap .article_col .sales_txt .review_btn .button {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.product_article .article_wrap .article_col .sales_txt h3 {
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
  line-height: 50px;
}

.product_article .article_wrap .article_col .social_card, .product_article .article_wrap .article_col .social_card_full_width {
  margin-top: 30px;
}

.product_article .article_wrap .article_col .social_card .face_img, .product_article .article_wrap .article_col .social_card_full_width .face_img {
  width: 8%;
  margin: 0 auto;
}

.product_article .article_wrap .article_col .social_card p, .product_article .article_wrap .article_col .social_card_full_width p {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.product_article .article_wrap .article_col .social_card .icons, .product_article .article_wrap .article_col .social_card_full_width .icons {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100px;
}

.product_article .article_wrap .article_col .social_card .icons .icon_one,
.product_article .article_wrap .article_col .social_card .icons .icon_two,
.product_article .article_wrap .article_col .social_card .icons .icon_three,
.product_article .article_wrap .article_col .social_card .icons .icon_four, .product_article .article_wrap .article_col .social_card_full_width .icons .icon_one,
.product_article .article_wrap .article_col .social_card_full_width .icons .icon_two,
.product_article .article_wrap .article_col .social_card_full_width .icons .icon_three,
.product_article .article_wrap .article_col .social_card_full_width .icons .icon_four {
  float: left;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  margin-right: 5px;
  background-size: contain;
}

.product_article .article_wrap .article_col .social_card .icons .icon_one, .product_article .article_wrap .article_col .social_card_full_width .icons .icon_one {
  background-image: url(../images/social_icon_1.svg);
}

.product_article .article_wrap .article_col .social_card .icons .icon_two, .product_article .article_wrap .article_col .social_card_full_width .icons .icon_two {
  background-image: url(../images/social_icon_2.svg);
}

.product_article .article_wrap .article_col .social_card .icons .icon_three, .product_article .article_wrap .article_col .social_card_full_width .icons .icon_three {
  background-image: url(../images/social_icon_3.svg);
}

.product_article .article_wrap .article_col .social_card .icons .icon_four, .product_article .article_wrap .article_col .social_card_full_width .icons .icon_four {
  background-image: url(../images/social_icon_4.svg);
}

.product_article .article_wrap .article_col .social_card_full_width .avatar_img {
  float: left;
}

.product_article .article_wrap .article_col .social_card_full_width .avatar_img .face_img {
  width: 100%;
  margin-right: 10px;
}

.product_article .article_wrap .article_col .social_card_full_width .avatar_txt {
  float: left;
  margin-left: 20px;
}

.product_article .article_wrap .article_col .social_card_full_width .avatar_txt p {
  text-align: left;
}

.product_article .article_wrap .article_col .social_card_full_width .icons {
  margin-top: 10px;
  float: right;
}

.product_article .article_wrap .article_col .social_card_full_width .icon_two,
.product_article .article_wrap .article_col .social_card_full_width .icon_three,
.product_article .article_wrap .article_col .social_card_full_width .icon_four {
  border-radius: 50%;
  border: 1px solid #cccccc;
}

@media (min-width: 768px) {
  .product_article .article_wrap .article_col .quote_txt {
    grid-column: span 2 / auto;
  }
}

.product_article .article_wrap .article_col.copy_txt .full_article .first_letter {
  font-size: 55px;
  line-height: 70px;
  color: #a07f4a;
}

@media (min-width: 768px) {
  .product_article .article_wrap .article_col.copy_txt {
    grid-column: span 2 / auto;
  }
}

.product_article .article_wrap .article_col.right_panel {
  padding: 40px;
}

@media (max-width: 424px) {
  .product_article .article_wrap .article_col.right_panel {
    display: none;
  }
}

@media (min-width: 768px) {
  .product_article .article_wrap .article_col.right_panel {
    display: none;
  }
}

@media (min-width: 425px) {
  .product_article .article_wrap .article_col.right_panel {
    display: none;
  }
}

@media (min-width: 1024px) {
  .product_article .article_wrap .article_col.right_panel {
    display: block;
  }
}

@media (min-width: 1024px) {
  .product_article .article_break {
    width: 75%;
    margin-left: 50px;
  }
}

.product_article .article_break .quote_box {
  margin: 10px;
  border-left: 2px solid #a07f4a;
}

.product_article .article_break .quote_box h4 {
  padding-top: 40px;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 900;
  line-height: 40px;
  text-transform: capitalize;
  color: #a07f4a;
}

.product_article .article_break .quote_box p {
  text-transform: uppercase;
  color: #a07f4a;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1024px) {
  .product_article .article_break .quote_box {
    float: left;
    width: 55%;
  }
}

.product_article .article_break p {
  text-align: left;
  font-family: 'Playfair Display', serif;
}

@media (min-width: 1024px) {
  .product_article .article_break p {
    float: left;
    width: 36%;
  }
}

.product_article .article_break .watch_img {
  margin-bottom: 10px;
}

.product_article .article_break .caption {
  font-size: 0.8em;
  text-align: left;
  line-height: 20px;
}

/* #endregion ------ product article ------- */
/* region ------ footer ------*/
.footer_area {
  color: #ffffff;
}

.footer_area .footer_wrap .watch_ad {
  max-width: 250px;
}

@media (min-width: 1024px) {
  .footer_area .footer_wrap .watch_ad {
    display: none;
  }
}

.footer_area .footer_wrap .discussion_box {
  background-color: #f5f4f2;
  padding-top: 30px;
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box {
  padding-top: 50px;
  margin: 0 auto;
  width: 90%;
  float: none;
  display: block;
  color: #000000;
  border-bottom: 1px solid #000000;
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .sub_title h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  text-align: left;
}

@media (min-width: 1024px) {
  .footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .sub_title {
    float: left;
    width: 33.3%;
    text-align: left;
  }
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .star_rating {
  margin: 0 auto;
  float: none;
}

@media (min-width: 1024px) {
  .footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .star_rating {
    float: left;
    padding-top: 10px;
    width: 33.3%;
  }
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .star_rating .star_img {
  height: 50px;
  width: 80px;
  margin: 0 auto;
  float: left;
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .star_rating .comments {
  color: #000000;
  text-align: left;
  text-indent: 10px;
}

@media (min-width: 1024px) {
  .footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .white_btn {
    float: left;
    width: 33.3%;
  }
  .footer_area .footer_wrap .discussion_box .discussion_wrap .rating_box .white_btn a.button {
    float: right;
    line-height: 30px;
    max-width: 200px;
  }
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .msg_box {
  margin: 0 auto;
  width: 90%;
  float: none;
  display: block;
  color: #000000;
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .msg_box .msg_wrap {
  margin-top: 30px;
  padding-bottom: 50px;
}

.footer_area .footer_wrap .discussion_box .discussion_wrap .msg_box .msg_wrap h2 {
  text-align: left;
  text-transform: capitalize;
}

.footer_area .footer_wrap .recommended_box {
  background-color: #bbbbb9;
  padding-top: 50px;
}

.footer_area .footer_wrap .recommended_box .recommeded_wrap {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 50px;
}

.footer_area .footer_wrap .recommended_box .recommeded_wrap h2, .footer_area .footer_wrap .recommended_box .recommeded_wrap h3 {
  text-transform: capitalize;
}

/* #endregion ------ footer ------- */
/* region ------ modal ------*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 0px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content */
}

.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #bbbbb9;
  width: 80%;
  /* The Close Button */
}

.modal .modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal .modal-content .close:hover,
.modal .modal-content .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal .modal-content .product_img {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.modal .modal-content .details_txt {
  margin: 0 auto;
  display: block;
  max-width: 600px;
  text-align: center;
}

/* #endregion ------ modal ------- */
/*# sourceMappingURL=main.css.map */